.projects {
  padding: 16rem 3.2rem 12rem;

  &-heading {
    margin-bottom: 16rem;
  }

  .project {
    margin-bottom: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      width: 40%;

      &-heading {
        margin-bottom: 3.2rem;
      }

      &-proper {
        margin-bottom: 2.4rem;
      }

      &-keywords {
        font-weight: 600;
      }
    }

    &-buttons {
      width: 10%;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .btn-project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        color: white;
        font-weight: 500;
        opacity: 0.8;
        transition: 0.2s;

        &:hover {
          // opacity: 1;
          font-size: 2rem;
        }
      }

      .btn-code {
        // background-color: rebeccapurple;
        // background-color: $ultramarine-blue;
        background-color: dodgerblue;
      }

      .btn-website {
        background-color: $ultramarine-blue;
      }
    }

    &-image {
      width: 40%;
      overflow: hidden;
      border-radius: 6px;

      img {
        display: block;
        width: 100%;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
